{{ ansible_managed|comment }}

[Unit]
Description=system configuration upgrade
After=network-online.target
 
[Service]
ExecStart=/bin/sh -c 'ansible-pull -U "{{ ansible_pull.url }}" -i "$(uname -n)," --diff -e playbook_dir shim/local.yml'
TimeoutStopSec=600